@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Mobile Version */

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: #146c70;
  padding: 10px 15px;
}

.mobile__menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 85px;
  background-color: #58c7cc;
}

.close__btn {
  display: none;
  padding: 0 20px;
  filter: invert(1);
}

.navbar__item a {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.Description {
  margin: 0;
  padding: 0;
  background-color: #58c7cc;
  border-radius: 45px;
}

.description__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  padding: 30px 20px;
  color: #fff;
  background-color: #146c70;
}

.heading-1 {
  margin-right: 20%;
  width: 80%;
  font-size: 30px;
}

.description-para {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
}

.contact-btn {
  background-color: #e27f23;
  padding: 15px 100px;
  color: #ffff;
  border: none;
  border-radius: 26px;
  margin-top: 10px;
  font-size: 18px;
}

.study-banner {
  width: 100%;
  height: 100%;
  margin-bottom: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e6f6f7;
  padding-top: 90px;
  padding-bottom: 40px;
  height: 100%;
  gap: 120px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: #146c70;
}

.stat-number {
  font-size: 30px;
}

.uchimsa-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.uchimsa-team h3 {
  font-size: 25px;
  color: #27292e;
  font-family: 'Ubuntu', sans-serif;
}

.uchimsa-team p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  width: 80%;
  color: #585c65;
}

.register-btn {
  padding: 15px 77px;
  background-color: #e27f23;
  border: none;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: #e6f6f7;
  gap: 100px;
}

.steps-heading {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: left;
  padding-left: 20px;
  align-items: center;
  width: 80%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 17px;
  font-family: 'Ubuntu', sans-serif;
}

.step > a {
  text-decoration: none;
  text-align: center;
  align-items: center;
  color: #585c65;
  font-size: 16px;
}

.material-icons {
  color: #58c7cc;
  font-size: 8rem;
}

.step-img {
  border: 2px solid #58c7cc;
  border-radius: 10px;
}

.number-5 {
  color: #146c70;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 170px;
  padding-bottom: 50px;
  background-color: #e6f6f7;
}

.testi-heading {
  font-family: 'Ubuntu', sans-serif;
  color: #27292e;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 2px solid #58c7cc;
  border-radius: 16px;
}

video {
  margin-top: 10px;
  background-color: #fff;
  border: 10px solid #fff;
  border-radius: 16px;
}

.step .service-heading {
  text-align: center;
  line-height: 30px;
  border: 5px solid #58c7cc;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  padding: 20px;
  border-radius: 36px;
}

.testi-text1 {
  font-family: 'Nunito Sans', sans-serif;
  color: #27292e;
  font-size: 18px;
  font-weight: 500;
  margin-top: 50px;
}

.testi-text2 {
  font-family: 'Nunito Sans', sans-serif;
  color: #27292e;
  font-size: 18px;
  font-weight: 500;
  margin-top: 50px;
}

.title-bold {
  font-weight: bold;
}

.written-testi {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  margin-top: 90px;
}

.quote-image {
  width: 16%;
  z-index: 5;
  margin-top: -50px;
}

.written1 {
  margin-top: 25px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #27292e;
}

.written2 {
  margin-top: 25px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #27292e;
}

.arrow {
  transform: rotate(90deg);
}

.step p {
  color: #58c7cc;
  font-weight: bold;
  font-size: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6f6f7;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  width: 90%;
  background-color: #146c70;
  border-left: 7px solid #58c7cc;
  border-right: 7px solid #58c7cc;
  border-radius: 20px;
}

iframe {
  width: 100%;
  border-radius: 40px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.About-heading {
  font-family: 'Ubuntu', sans-serif;
  font-size: 23px;
  color: #fff;
  margin-bottom: 20px;
}

.about-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  line-height: 30px;
}

.about-span {
  font-style: italic;
  color: #12b5f6;
  font-weight: bold;
}

.contact{
  background-color: #e6f6f7;
  padding-top:80px;
}

.contact-container{
  background-color: #146c70;
  padding: 30px 15px;
}

.contact-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

hr{
  width:95%;
  color: #e27f23;
  margin-bottom: 30px;
}

.first-row{
  display:flex;
  align-items: center;
}

.logo2{
  margin-right:100px;
}

.contacts-link{
  text-decoration: none;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  font-size:15px;
  font-weight:bold;
}

.copyrights > p{
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  font-size:15px;
  font-weight:400;
}